body{
	margin: 0;
}

div{
	position: relative;
}

.hide{
	display: none;
}

.left{
	float: left;
}

.right{
	float: right;
}

.fill-height{
	height: 100%;
}

.fill-width{
	width: 100%;
}

.relative{
	position: relative;
}

.border-bottom{
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}