/*时间 正文 作者字体等设置*/
.day, .month, .year, .author, #copyright, #hust{
	font-family: "宋体";
}

.post-msg{
	font-family: "宋体";
}

#notice-title{
	font-family: "Calibri";
}

#notice-title{
	width: 138px;
	height: 23px;
	margin: 22px 0;
	margin-bottom: 12px;
	padding-bottom: 6px;
	border-bottom: 2px solid #afae04;
	color: #999900;
	font-size: 22px;
	text-align: right;
}

.time{
	height: 12px;
	color: #999999;
	font-size: 14px;
	line-height: 12px;
	margin-top: 10px;
	text-align: right;
}

.comment{
	height: 12px;
	font-size: 14px;
	line-height: 12px;
	margin-top: 10px;
	text-align: left;
}

.like{
	color: #999900;
}

.dislike{
	color: #999999;
}

.reply{
	height: 20px;
	color: #999999;
	font-size: 14px;
	line-height: 12px;
}

.author{
	color: #adb001;
	font-size: 18px;
	margin-bottom: 10px;
}

.post-msg{
	color: #666633;
	font-size: 16px;
	line-height: 25px;
	/*文本溢出换行*/
	word-break: break-word;
	/*合并空格，保留换行*/
	white-space:pre-wrap;
	clear: left;
}

#copyright{
	color: #b5ae00;
	margin-bottom: 8px;
}

#hust{
	color: #999999;
}
