<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
		<script type="text/javascript" src="/static/webpage/js/script/BaseConfig.js"></script>
		<script type="text/javascript" src="/static/webpage/js/lib/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/webpage/js/script/Mobile/Moblie.js"></script>
		<!-- <script type="text/javascript" src="/static/webpage/js/lib/jquery.mobile-1.3.2.js"></script>-->
		<link rel="stylesheet" type="text/css" href="/static/webpage/css/basic.css">
		<link rel="stylesheet" type="text/css" href="/static/webpage/css/Mobile/mobile.css">
	</head>
	<body>
		<div id="main">
			<div id="head">
				<div id="logo">
					<img src="/static/webpage/img/dianTV_client/DNTVlogo.png">
				</div>
			</div>
			<div id="publish">
					<textarea id="publish-msg" class="fill-width">说点好玩的吧～</textarea>
					<input id="publish-author" class="fill-width left" type="text" value="匿名">
					<button id="submit" class="left">发送</button>
			</div>
			<div id="post-body">
				<!-- <div id="post-1" class="post-box">
					<div class="author">
						王思杰(709) :
					</div>
					<div class="post-msg">
						我们都是世界的孤儿，注定要一个人走完世界上的旅行，Happy everyday.
					</div>
					<div class="time">
						2013年12月25日  19:20
					</div>
				</div>
				<div id="post-2" class="post-box">
					<div class="author">
						王思杰(709) :
					</div>
					<div class="post-msg">
						我们都是世界的孤儿，注定要一个人走完世界上的旅行，Happy everyday.
					</div>
					<div class="time">
						2013年12月25日  19:20
					</div>
				</div>
				<div id="post-3" class="post-box">
					<div class="author">
						王思杰(709) :
					</div>
					<div class="post-msg">
						我们都是世界的孤儿，注定要一个人走完世界上的旅行，Happy everyday.
					</div>
					<div class="time">
						2013年12月25日  19:20
					</div>
				</div> -->
			</div>
		</div>
	</body>
</html>